*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  line-height: 21.6px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset,
form,
input {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

*:focus-visible {
  outline: 1px solid #fff;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 30px;
  inline-size: 1140px;
}

.result__video-container {
  position: relative;
  margin-block-end: 16px;
  inline-size: 711px;
  block-size: 386px;
}

.result__video {
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  margin-block-end: 5px;
  font-weight: 400;
  font-size: 18px;
}

.search-form__label {
  display: block;
  cursor: pointer;
  inline-size: fit-content;
}

.search-form__textfield {
  border-width: 1px 0;
  border-style: solid;
  border-color: #fff;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  background-color: transparent;
  cursor: text;
  appearance: none;
  min-inline-size: 225px;
  min-block-size: 27px;
}

.search-form__label:has(.search-form__checkbox) {
  display: flex;
  align-items: center;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(.search-form__textfield:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__label:has(.search-form__textfield:active) {
  outline: 1px solid #fff;
  outline-offset: -1px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__checkbox.visually-hidden {
  z-index: -1;
  opacity: 0;
}

.search-form__pseudo-checkbox {
  position: relative;
  display: block;
  flex-grow: 0;
  flex-shrink: 0;
  margin-right: 5px;
  border: 1px solid #fff;
  inline-size: 19px;
  block-size: 19px;
}

.search-form__label:has(.search-form__checkbox:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__label:has(.search-form__checkbox:hover) {
  text-decoration: underline;
  text-underline-position: under;
  cursor: pointer;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: '';
  display: block;
  margin: 1px;
  background-color: #fff;
  inline-size: 15px;
  block-size: 15px;
}

.search-form__label:has(.search-form__checkbox:checked) {
  text-decoration: none;
}

.button {
  border: 1px solid currentColor;
  padding: 0;
  color: inherit;
  font-family: inherit;
  font-weight: 700;
  font-size: inherit;
  line-height: inherit;
  text-align: center;
  background-color: transparent;
  min-block-size: 34px;
}

.search-form__submit-button {
  align-self: flex-end;
  min-inline-size: 194px;
}

.content__details {
  flex-grow: 1;
  block-size: 100%;
}

.title {
  margin-block-end: 26px;
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 70.5px;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  overflow-y: auto;
  block-size: 298px;
}

.content__list-item:not(.content__list-item:last-child) {
  margin-bottom: 30px;
  inline-size: 399px;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
}

.content__card-link {
  display: block;
  padding: 2px;
  color: #fff;
  text-decoration: none;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: -1px;
}

.content__card-link:active,
.content__card-link_current {
  background-color: #545050;
}

.content__card-link:hover:not(
    .content__card-link_current,
    .content__card-link:active
  ) {
  text-decoration: underline;
  text-underline-position: under;
  cursor: pointer;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.content__video-card-description {
  line-height: 16.2px;
  max-inline-size: 200px;
}

.content__video-card-title {
  margin-block-end: 6px;
  overflow: hidden;
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  text-overflow: ellipsis;
  max-inline-size: 200px;
  white-space: nowrap;
}

.content__video-card-thumbnail {
  flex-basis: 194px;
  object-fit: cover;
  object-position: center;
  block-size: 103px;
}

.more-button {
  inline-size: 100%;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: -3px;
}

.button:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
  cursor: pointer;
}

.button:active {
  text-decoration: none;
  background-color: #545050;
}
